// variable
:root {
    --font-body: "Inter", sans-serif;
    --font-heading: "Inter", sans-serif;
    --font-newyork: 'NewYork PERSONAL USE';

    --color-primary:  #FD6442;
    --color-primary-rgb:  253, 100, 66;
    --color-heading:  #000;
    --color-default: #666666;
    --color-border: #DFDFDF;
    --color-sec_bg: #F1F1F1;
    --color-gray: #666666;

    --color-black: #000;
    --color-dark: #0F172A;
    --color-white: #fff;
    --color-body: #F7F5F2;
}