.blog-item {
    border-top: 1px solid var(--color-heading);
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 100px;
    background-color: rgb(241, 241, 241);
    @include respond(xs) {
        position: unset;
    }
    &:last-child{
        border-bottom: 1px solid var(--color-heading);
    }
    &:hover {
        .xb-item--img {
            a img {
                transform: scale(1.1);
            }
        }
    }
    .xb-item {
        &--img {
            width: 600px;
            overflow: hidden;
            margin-right: 50px;
            @include respond(lg) {
                width: 400px;
            }
            a img {
                @include transition(.3s);
            }
            @include respond(md) {
                width: 300px;
            }
            @include respond(xs) {
                width: 100%;
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &--date {
            left: 30px;
            bottom: 30px;
            font-weight: 600;
            padding: 6px 10px;
            position: absolute;
            text-transform: uppercase;
            @include border-radius(30px);
            color: var(--color-heading);
            background: var(--color-white);
        }
        &--holder {
            width: calc(100% - 650px);
            display: flex;
            padding-right: 60px;
            flex-direction: column;
            justify-content: space-between;
            @include respond(lg) {
                width: calc(100% - 450px);
                padding-right: 0;
            }
            @include respond(md) {
                width: calc(100% - 350px);
            }
            @include respond(xs) {
                width: 100%;
            }
        }
        &--title {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            margin-top: auto;
            @include respond(lg) {
                font-size: 22px;
                line-height: 35px;
            }
            @include respond(md) {
                font-size: 24px;
                line-height: 34px;
            }
            a {
                color: currentColor;
            }
        }
        &--tag {
            display: flex;
            li {
                a {
                    font-weight: 600;
                    padding: 6px 10px;
                    text-transform: uppercase;
                    @include border-radius(30px);
                    color: var(--color-black);
                    border: 1px solid var(--color-primary);
                    &:hover {
                        background-color: var(--color-primary);
                        color: var(--color-white);
                    }
                }
                &:not(:last-child) {
                    margin-right: 14px;
                }
            }
        }
    }
}
.blog-col {
    &:last-child {
        .xb-blog-item {
            border-right: none;
        }
    }
}
.xb-blog-item {
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    padding: 40px;
    @include respond(xs) {
        padding: 20px;
    }
    &:hover {
        .xb-item--img img{
            transform: scale(1.1);
        }
    }
    .xb-item {
        &--img {
            overflow: hidden;
            @include border-radius(30px);
            img {
                @include transition(.3s ease);
            }
            span {
                top: 20px;
                left: 20px;
                line-height: 1;
                font-weight: 600;
                padding: 6px 10px;
                position: absolute;
                text-transform: uppercase;
                color: var(--color-heading);
                @include border-radius(30px);
                background: var(--color-white);
                a {
                    color: currentColor;
                }
            }
        }
        &--holder {
            margin-top: 30px;
        }
        &--meta {
            margin-bottom: 10px;
            li {
                font-size: 14px;
                text-transform: uppercase;
                &:not(:last-child) {
                    margin-right: 40px;
                }
                img {
                    margin-right: 10px;
                    transform: translateY(-2px);
                }
            }
        }
        &--user {
            span {
                font-weight: 600;
                color: var(--color-heading);
            }
        }
        &--title {
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 60px;
            letter-spacing: -0.01em;
            @include respond(xs) {
                font-size: 20px;
                letter-spacing: 0;
            }
            a {
                color: currentColor;
            }
        }
        &--link{
            font-size: 14px;
            font-weight: 600;
            color: var(--color-heading);
            text-transform: uppercase;
            position: relative;
            &::before {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
                background-color: var(--color-primary);
                content: "";
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
            }
            &:hover {
                color: var(--color-primary);
                &::before {
                    left: 0px;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
}
.blog-title {
    @include respond(xs) {
        padding: 0 20px;
    }
}
.blog-post-wrapper {
    border-right: 1px solid #DFDFDF;
    padding-right: 78px;
    margin-right: -25px;
    @include respond(lg) {
        padding-right: 30px;
        margin-right: 40px;
    }
    @include respond(md) {
        padding-right: 0;
        margin-right: 0;
        border: 0;
    }
}
.post-thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    img {
        width: 100%;
        @include transition(0.5s cubic-bezier(0.25, 1, 0.5, 1));
    }
}
.post-date {
    font-size: 16px;
    background-color: var(--color-white);
    text-transform: uppercase;
    padding: 6px 10px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 40px;
    line-height: 1.1;
    @include border-radius(30px);
    color: var(--color-black);
}
.single-post-item {
    margin-bottom: 56px;
    position: relative;
    &:hover {
        .post-thumbnail-wrapper img,
        .post-gallery-slider img {
            @include transform(scale(1.08));
        }
    }
    .post-title {
        font-size: 32px;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 30px;
        @include respond(xs) {
            font-size: 24px;
            line-height: 37px;
        }
        a {
            color: currentColor;
        }
    }
}
.post-gallery-slider .post-gallery-nav {
    mix-blend-mode: unset;
}
.post-gallery-slider .post-gallery-nav-item {
    width: 50px;
    height: 50px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 15px;
    border-radius: 50%;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: var(--color-white);
    &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}
.post-gallery-slider .post-gallery-nav-item.post-gallery-button-next {
    left: auto;
    right: 20px;
}
.post-thumbnail-wrapper:hover .post-gallery-nav-item.post-gallery-button-prev {
    left: 30px;
}
.post-thumbnail-wrapper:hover .post-gallery-nav-item.post-gallery-button-next {
    right: 30px;
}
.post-thumbnail-wrapper:hover .post-gallery-nav-item {
    opacity: 1;
    visibility: visible;
}

.post-thumbnail-wrapper .swiper-slide {
    overflow: hidden;
}

.post-content-wrapper {
    padding-left: 40px;
    @include respond(xs) {
        padding-left: 0;
    }
}
.post-gallery-slider {
    position: relative;
}
.post-tags {
    li {
        a {
            font-weight: 600;
            text-transform: uppercase;
            color: var(--color-heading);
            line-height: 1;
            border: 1px solid var(--color-primary);
            border-radius: 30px;
            padding: 5px 9px;
            display: inline-block;
            margin-right: 14px;
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }
    }
}

.sidebar-area {
    padding-left: 82px;
    @include respond(laptop) {
        padding-left: 40px;
    }
    @include respond(lg) {
        padding-left: 0;
        margin-left: -30px;
    }
    @include respond(md) {
        padding-left: 0;
        margin-left: 0;
        padding-top: 40px;
    }
    .widget {
        margin-bottom: 50px;
    }
}

.widget {
    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
        border-bottom: 1px solid #DFDFDF;
        padding-bottom: 15px;
    }
    &__search {
        position: relative;
        input {
            height: 60px;
            background-color: transparent;
            padding: 20px;
            border: 0;
            font-size: 16px;
            @include placeholder(#8F959F);
            font-weight: 400;
            margin-bottom: 0;
            border: 1px solid #DFDFDF;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }
    &__category {
        li {
            &:not(:last-child) {
                margin-bottom: 7px;
                padding-bottom: 7px;
            }
            a {
                position: relative;
                display: block;
                z-index: 1;
                color: #061020;
                font-size: 14px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: space-between;
				font-weight: 500;
                &:hover,
                &.active {
                    color: var(--color-primary);
                }
                i {
                    font-size: 13px;
                }
            }
        }
    }
    &__post-item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        .post-thumb {
            width: 80px;
            height: 80px;
            overflow: hidden;
            margin-right: 20px;
            img {
                width: 100%;
                @include transition(.3s);
				height: 100%;
 				object-fit: cover;
            }
        }
        &:hover {
            .post-thumb img {
                @include transform(scale(1.08));
            }
            .post-title a {
                background-size: 100% 100%;
            }
        }
        .post-meta {
            margin-bottom: 5px;
            a {
                font-size: 12px;
                color: var(--color-default);
                position: relative;
                &:not(:last-child) {
                    margin-right: 9px;
                    padding-right: 12px;
                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include transform(translate(-50%, -50%));
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: #E6E6E6;
                    }
                }
                i {
                    margin-right: 5px;
					color: #000;
                }
            }
        }
        .post-content {
            width: calc(100% - 110px);
            .post-title {
                font-size: 14px;
                color: var(--color-black);
                font-weight: 500;
                letter-spacing: 0;
                a {
                    color: inherit;
                }
            }
        }
    }
}

.post-details {
    .post-thumb {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 30px;
        font-weight: 500;
        @include respond(lg) {
            font-size: 22px;
        }
        @include respond(md) {
            font-size: 30px;
        }
        @include respond(xs) {
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }
    h3 {
        font-size: 28px;
        margin-bottom: 25px;
        @include respond(xs) {
            font-size: 22px;
        }
    }
    p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.post-meta {
	margin-bottom: 20px;
	margin-top: -4px;
    li {
        font-size: 18px;
        i {
            margin-right: 7px;
            color: var(--color-primary);
        }
        &:not(:last-child) {
            margin-right: 34px;
        }
    }
}
blockquote {
    background-color: rgba(253, 100, 66, 0.07);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 55px;
    padding-left: 130px;
    position: relative;
    margin: 40px 0;
    @include respond(xs) {
        padding: 30px;
        padding-left: 100px;
    }
    p {
        font-size: 20px;
        font-weight: 600;
        color: #0F172A;
        line-height: 34px;
        margin-bottom: 20px !important;
        @include respond(xs) {
            font-size: 18px;
        }
    }
    span {
        font-size: 18px;
        font-weight: 500;
        color: #787B84;
        padding-left: 27px;
        position: relative;
        &::before {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            left: 0;
            width: 17px;
            height: 1px;
            background-color: #787B84;
            content: "";
        }
    }
    .quote {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background-color: var(--color-primary);
        @include center;
    }
}
.post-info-list {
    padding-left: 10px;
    @include respond(lg) {
        padding-left: 0;
    }
    li {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}
.post-tags  {
    .tags-links {
        margin-top: 10px;
    }
    .tag-title {
        font-size: 20px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: 600;
    }
}
.social-share {
    .post-share {
        margin-top: 20px;
    }
    li {
        &:not(:last-child) {
            margin-right: 10px;
        }
        a {
            color: var(--color-default);
            border: 1px solid #EEE5E5;
            font-size: 14px;
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            @include center;
            &:hover {
                border-color: var(--color-primary);
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }
    }
    .title {
        font-size: 20px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: 600;
    }
}
/* comment css */
.comments-form {
    padding-top: 40px;
	@include respond(xs) {
		padding-top: 25px;
	}
    .comment-heading {
        margin-bottom: 30px;
    }
    .title {
        font-size: 30px;
        margin-bottom: 7px;
        font-weight: 500;
		@include respond(xs) {
			font-size: 26px;
		}
    }
    .xb-item--field {
        margin-bottom: 25px;
        textarea {
            min-height: 150px;
        }
        input,
        textarea {
            border: 1px solid #DFDFDF;
            height: 60px;
            background-color: transparent;
            @include transition(.3s);
            &:focus {
                border-color: var(--color-primary);
            }
        }
    }
}
.post-comments {
    padding-bottom: 80px;
    .title {
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 700;
        font-family: var(--font-body);
    }
}
.latest__comments {
    .comments-box {
        border-top: 1px solid var(--color-border-2);
        padding: 30px 0;
    }
    .comments-text {
        overflow: hidden;
        font-size: 18px;
        line-height: 30px;
    }
    .comments-avatar {
        border-radius: 50%;
        float: left;
        @include respond(xs) {
            float: none;
            margin-bottom: 10px;
        }
        @include respond(sm) {
            float: left;
            margin-bottom: 0px
        }
        img {
            border-radius: 50%;
            width: 80px !important;
            margin-right: 30px;
        }
    }
    li {
        &:last-child .comments-box {
            padding-bottom: 0px;
        }
        &:first-child .comments-box {
            border-top: 0;
            padding-top: 0;
        }
        &.children {
            margin-left: 100px;
            @include respond(xs) {
                margin-left: 0px;
            }
            @include respond(sm) {
                margin-left: 50px;
            }
        }
    }

    .avatar-name {
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        h5 {
            font-size: 20px;
            margin-bottom: 0px;
            font-weight: 600;
            letter-spacing: -0.2px;
            font-family: var(--font-body);
        }
        span {
            font-size: 15px;
            color: var(--color-default);
        }
    }
    .reply {
        color: #141414;
        border: 1px solid #EEE5E5;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        @include transition(.3s);
        line-height: 1;
        position: absolute;
        right: 0;
        margin-top: 0;
        top: 0;
        text-decoration: none;
        padding: 9px 20px;
        &:hover {
            border-color: var(--color-primary);
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
    &--2 {
        p {
            font-size: 14px;
            line-height: 24px;
            color: var(--color-black);
        }
    }
}