.thm-btn {
	line-height: 1;
	padding: 21px 30px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	@include center;
	color: var(--color-white);
	background-color: var(--color-primary);
	text-transform: uppercase;
	@include transition(.3s);
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 14px;
	z-index: 1;
	&::before {
		top: 0px;
		width: 0px;
		left: auto;
		right: 0px;
		z-index: -1;
		bottom: 0px;
		content: "";
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
	}
	i {
		@include transition(.3s);
	}
	&:hover {
		color: var(--color-white);
		&::before {
			left: 0px;
			width: 100%;
			right: auto;
		}
	}
	.btn_icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		@include center;
		color: var(--color-heading);
		background: var(--color-white);
		border-left: 1px solid var(--color-border);
	}
	&--border {
		border: 1px solid var(--color-heading);
		background-color: transparent;
		color: var(--color-heading);
		&:hover {
			color: #fff;
			border-color: var(--color-black);
			i {
				color: var(--color-white);
			}
		}
		i {
			color: var(--color-primary);
		}
	}
	&--black {
		color: var(--color-white);
		background: var(--color-heading);
		&::before {
			background-color: var(--color-primary);
		}
		&:hover {
			color: var(--color-white);
		}
		.btn_icon {
			border-left: 1px solid var(--color-heading);
		}
	}
	&.hover-black:hover {
		color: var(--color-white);
		i {
			color: var(--color-white);
		}
	}
}
.thm-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	text-transform: uppercase;
	background: var(--color-white);
	color: var(--color-heading);
	flex-direction: column;
	height: 180px;
	width: 180px;
	border-radius: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 1px solid var(--color-heading);
	@include transition(.3s);
	line-height: 1.1;
	&::before {
		height: 100%;
		width: 100%;
		content: '';
		background: #000;
		top: 0;
		left: 0;
		position: absolute;
		border-radius: 100%;
		z-index: -1;
		opacity: 0;
		transform: scale(.5);
		visibility: hidden;
		@include transition(.3s);
	}
	&:hover {
		color: #fff;
		span {
			transform: translateY(4px);
			svg path {
				fill: #fff;
			}
		}
		&::before {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}
	}
	span {
		margin-top: 12px;
		@include transition(.3s);
	}
	&--fill {
		border: 1px solid var(--color-white);
		opacity: 0;
		visibility: hidden;
	}
}
.stock-btn {
	li {
		@include center;
		font-weight: 500;
		cursor: pointer;
		text-transform: uppercase;
		color: var(--color-heading);
		@include border-radius(100px);
		padding: 5px 20px;
		border: 1px solid var(--color-border);
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&.stock-btn-action {
		li {
			&.active {
				border: 1px solid var(--color-heading);
				@include transition(.3s);
			}
		}
	}
	&.stock-btn-action-two {
		li {
			&.active {
				border: 1px solid var(--color-heading);
				@include transition(.3s);
			}
		}
	}
}
.border-btn{
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 7px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: var(--color-heading);
	display: inline-block;
	border-bottom: 1px solid var(--color-primary);
	line-height: 1;
	&:hover {
		color: var(--color-primary);
		span svg path {
			fill: var(--color-primary);
		}
	}
	span {
		margin-left: 9px;
		width: 16px;
		svg {
			width: 16px;
			path {
				@include transition(.3s);
			}
		}
	}
}
