.cta-wrap {
    padding: 100px 0;
    padding-top: 70px;
    @include respond(md) {
        padding-bottom: 0;
    }
    .xb-item {
        &--line {
            width: 100px;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            margin: 0 50px;
            margin-top: 30px;
        }
        &--content {
            line-height: 26px;
            max-width: 249px;
            text-transform: uppercase;
            color: #999999;
            span {
                font-weight: 600;
                color: #fff;
            }
        }
        &--link {
            font-weight: 500;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--color-white);
            @include respond(md) {
                font-size: 38px;
                line-height: 50px;
            }
            @include respond(xs) {
                font-size: 28px;
                line-height: 40px;
            }
            a {
                color: var(--color-primary);
                text-decoration: underline;
                font-family: var(--font-newyork);
            }
        }
    }
}
.footer-wrap {
    @include respond(md) {
        padding-bottom: 70px;
    }
}