.gallery-slider {
    margin: 0 -190px;
    @include respond(md) {
        margin: 0;
    }
}
.gallery-item {
    position: relative;
    .gallery-image {
        overflow: hidden;
        @include transition(.3s);
        img {
            @include transition(.3s);
        }
    }
    &:hover {
        .gallery-image {
            transform: scale(0.98);
            img {
                transform: scale(1.11);
            }
        }
    }
}