.protfolio-bg {
    background: var(--color-sec_bg);
}
.port-col {
    &:nth-child(1),
    &:nth-child(4) {
        .xb-portfolio-item {
            margin-right: 90px;
            @include respond(lg) {
                margin-right: 50px;
            }
            @include respond(xs) {
                margin-right: 0;
            }
        }
    }
    &:nth-child(4) {
        .xb-portfolio-item {
            @include respond(md) {
                margin-right: 0;
                margin-left: 20px;
            }
            @include respond(xs) {
                margin-left: 0;
            }
        }
    }
    &:nth-child(2),
    &:nth-child(5) {
        .xb-portfolio-item {
            margin-left: -34px;
            margin-right: -33px;
            margin-top: 80px;
            @include respond(md) {
                margin-right: 0;
            }
            @include respond(xs) {
                margin-left: 0;
            }
        }
    }
    &:nth-child(3),
    &:nth-child(6) {
        .xb-portfolio-item {
            margin-left: 90px;
            @include respond(lg) {
                margin-left: 50px;
            }
            @include respond(xs) {
                margin-left: 0;
            }
        }
    }
    &:nth-child(3),
    &:nth-child(5) {
        .xb-portfolio-item {
            @include respond(md) {
                margin-left: 0;
            }
        }
    }
    &:nth-child(6) {
        .xb-portfolio-item {
            @include respond(md) {
                margin-left: 20px;
            }
            @include respond(xs) {
                margin-left: 0;
            }
        }
    }
}
.xb-portfolio-item {
    .xb-item {
        &--img {
            overflow: hidden;
            @include transition(.3s);
            img {
                transition: .3s ease;
            }
        }
        &--holder {
            margin-top: 32px;
        }
        &--title {
            font-weight: 500;
            font-size: 20px;
            display: inline-block;
            letter-spacing: -0.01em;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background: var(--color-heading);
                @include transition(.3s);
            }
            @include respond(md) {
                font-size: 15px;
            }
            @include respond(xs) {
                font-size: 12px;
            }
            a {
                color: currentColor;
            }
        }
        &--cat {
            max-width: 220px;
            li {
                line-height: 1.3;
                &:not(:last-child) {
                    margin-right: 8px;
                }
                a {
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    color: var(--color-default);
                    position: relative;
                    &::before {
                        position: absolute;
                        bottom: -2px;
                        right: -4px;
                        content: ",";
                    }
                }
                &:last-child a:before {
                    display: none;
                }
            }
        }
        &--year {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: var(--color-primary);
        }
    }
    &:hover {
        .xb-item {
            &--img {
                box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
                img {
                    @include transform(scale(1.08));
                }
            }
            &--title::before {
                width: 100%;
            }
        }
    }
}
.portfolio-item {
    .xb-item {
        &--year {
            font-size: 14px;
            color: var(--color-primary);
        }
        &--img {
            margin-top: 10px;
            margin-bottom: 30px;
            overflow: hidden;
            @include border-radius(30px);
            img {
                @include transition(.3s ease);
            }
        }
        &--skill {
            font-size: 14px;
        }
        &--title {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: -0.01em;
            a {
                color: currentColor;
            }
        }
    }
    &:hover {
        .xb-item--img {
            img {
                transform: scale(1.1);
            }
        }
    }
    &--two {
        .xb-item {
            &--year {
                color: var(--color-primary);
            }
            &--img {
                @include border-radius(0);
            }
            &--title {
                color: var(--color-white);
                a {
                    color: currentColor;
                }
            }
        }
    }
}
.xb-protfolio-slider {
    margin-left: -248px;
    margin-right: -384px;
    padding-bottom: 90px;
    @include respond(md) {
        margin-left: 0;
        margin-right: 0;
        padding: 0 20px;
    }
    .swiper-pagination {
        bottom: 0;
        margin-left: -80px;
        @include respond(md) {
            bottom: -60px;
            margin-left: 0;
        }
        .swiper-pagination-bullet {
           width: 6px;
           height: 6px;
           margin: 0 7px;
           background: #fff;
           opacity: 0.14;
       }
       .swiper-pagination-bullet-active {
            background: #fff;
            opacity: 1;
       }
    }
}
.portfolio-left {
    .xb-portfolio-item {
        &:not(:last-child) {
            margin-bottom: 200px;
            @include respond(md) {
                margin-bottom: 60px;
            }
        }
    }
}
.portfolio-right {
    .xb-portfolio-item {
        &:not(:last-child) {
            margin-bottom: 304px;
            @include respond(md) {
                margin-bottom: 60px;
            }
        }
    }
}
.portfolio-middle {
    margin-left: -35px;
    margin-right: -35px;
    @include respond(xs) {
        margin-left: 0;
        margin-right: 0;
    }
    .xb-portfolio-item {
        &:not(:last-child) {
            margin-bottom: 105px;
            @include respond(md) {
                margin-bottom: 60px;
            }
        }
    }
}
.portfolio-left {
	margin-right: 90px;
    @include respond(lg) {
        margin-right: 50px;
    }
    @include respond(md) {
        margin-right: 40px;
    }
    @include respond(xs) {
        margin-right: 0;
    }
}
.portfolio-right {
	margin-left: 90px;
    @include respond(lg) {
        margin-left: 50px;
    }
    @include respond(md) {
        margin-left: 40px;
    }
    @include respond(xs) {
        margin-left: 0;
    }
}
.protfolio-slider-two {
    .portfolio-item--two {
        .xb-item {
            &--title {
                color: var(--color-black);
            }
        }
    }
    .swiper-pagination .swiper-pagination-bullet {
        background: #000;
    }
}
.portfolio-gallery-item {
    .gallery-image {
        overflow: hidden;
        @include transition(.3s);
        img {
            @include transition(.3s);
        }
    }
    &:hover {
        .gallery-image {
            transform: scale(0.98);
            img {
                transform: scale(1.11);
            }
        }
    }
}
.portfolio-gallery-slider {
    margin-right: -360px;
    @include respond(laptop) {
        margin-right: -200px;
    }
    @include respond(lg) {
        margin-right: -200px;
    }
    @include respond(md) {
        margin-right: -100px;
    }
    @include respond(xs) {
        margin-right: -70px;
    }
}
.portfolio-info {
    gap: 50px;
    @include respond(laptop) {
        gap: 40px;
    }
    @include respond(lg) {
        gap: 30px;
    }
    .xb-item {
        &--title {
            font-size: 32px;
            margin-bottom: 2px;
            @include respond(laptop) {
                font-size: 28px;
            }
            @include respond(lg) {
                font-size: 20px;
            }
        }
        &--desc {
            font-size: 16px;
            text-transform: uppercase;
            color: #999999;
        }
    }
}